*{margin:0; padding:0; box-sizing: border-box;}
.main-container{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: red;
    justify-content: center;
}

.main-container.vertical{
    flex-direction: column;
}

.main-container.horizontal{
    flex-direction: row;
}

.menu-bar{
    background-color: yellow;
    flex: 0 1 10%;
}

.game-grid{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.7vmin;
}

.game-container{
    position: relative;
    padding: 20px;
    height: 100vmin;
    width: 100vmin;
    flex-shrink: 0;
}

.game-container .cell{
    background-color: green;
    border-radius: 0.7vmin;
}

.player-container{
    background-color: blue;
    flex: 0 1 10%;
}