@keyframes field-fade-in{
    from{
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@font-face{
    font-family: "Orbitron";
    src: url(./Orbitron-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Orbitron";
    font-size: 12pt;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.main-wrapper{
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -100;
    background: url(./sky-828648.jpg);
    background-size: cover;
    justify-content: center;
}

.vertical{
    flex-direction: column;
}

.horizontal{
    flex-direction: row;
}

.menu-bar{
    padding: 10px;
    flex-shrink: 1;
}

.horizontal .main-area{
    display: flex;
    flex-direction: row;
}

.vertical .main-area{
    display: flex;
    flex-direction: column;
}

.game-area{
    padding: 1vmin;
}

.game-grid{
    display: grid;
}

.game-field-wrapper{
    position: relative;
}

.game-field{
    animation: field-fade-in 0.5s 1 cubic-bezier(0.34, 1.56, 0.64, 1) both;
    height: 100%;
    width: 100%;
    background-color: #0008;
    border-radius: 1vmin;
    cursor: pointer;
    transition: all 0.2s;
}

.game-field.active{
    position: relative;
    z-index: -1;
    box-shadow: 0 0 1vmin 1vmin hsl(190, 100%, 60%);
}
.game-field:hover{
    background-color: #fff8;
}

.game-dot{
    animation: field-fade-in 1s 0.5s 1 cubic-bezier(0.34, 1.56, 0.64, 1) both;
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.game-dot .dot{
    position: relative;
    pointer-events: painted;
    background-color: red;
    border: solid 1px #000;
    border-radius: 50%;
    cursor: pointer;
}

.player-area{
    flex-shrink: 1;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.new-game-dialog-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5px;
    background-color: #000;
    z-index: 101;
    border: solid 1px white;
}

.new-game-dialog-container .close-btn{
    background-color: hsl(25, 100%, 60%);;
    color: white;
    padding: 5px;
    text-align: center;
    border:none;
    margin-bottom: 5px;
    cursor: pointer;
}

.new-game-dialog-container .new-game-grid{
    display: grid;
    gap: 0.5vmin;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.new-game-dialog-container .new-game-grid .new-game-cell{
    background-color: #333;
    transition: all 0.2s;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transform-origin: top left;
    animation: fade-corner-cell 0.3s both;
}

.new-game-dialog-container .new-game-grid .new-game-cell.active{
    background-color: hsl(190, 100%, 60%);
}
.new-game-dialog-container .new-game-grid .new-game-cell.removed{
    animation: fade-out-corner-cell 0.3s both;
}

.btn{
    padding: 5px;
    color: white;
    font-size: 15px;
}

@keyframes fade-corner-cell{
    from{
        height: 0;
        width: 0;
        opacity: 0;
    }
    to{
        opacity: 1;
        height: 20px;
        width: 20px;
    }
}

@keyframes fade-out-corner-cell{
    from{
        opacity: 1;
        height: 20px;
        width: 20px;
    }
    to{
        height: 0;
        width: 0;
        opacity: 0;
    }
}
